<%= form_for(admin_nature_of_review) do |f| %>
  <% if admin_nature_of_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_nature_of_review.errors.count, "error") %> prohibited this admin_nature_of_review from being saved:</h2>

      <ul>
      <% admin_nature_of_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :review_type %>
    <%= f.text_field :review_type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
