<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @supplier.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @supplier.last_name %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @supplier.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @supplier.address_line2 %>
</p>

<p>
  <strong>Town:</strong>
  <%= @supplier.town %>
</p>

<p>
  <strong>City:</strong>
  <%= @supplier.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @supplier.country %>
</p>

<p>
  <strong>Title:</strong>
  <%= @supplier.title %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @supplier.telephone_number %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @supplier.mobile_number %>
</p>

<p>
  <strong>Subscription:</strong>
  <%= @supplier.subscription %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @supplier.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @supplier.end_date %>
</p>

<p>
  <strong>Supplier name:</strong>
  <%= @supplier.supplier_name %>
</p>

<p>
  <strong>Supplier vat number:</strong>
  <%= @supplier.supplier_vat_number %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @supplier.industry %>
</p>

<p>
  <strong>Authorised responder:</strong>
  <%= @supplier.authorised_responder %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @supplier.notes %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
